@mixin bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin max($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

@mixin margin-xl {
  margin-left: calc((100% - 1140px) / 2);
  margin-right: calc((100% - 1140px) / 2);
}

@mixin margin-l {
  margin-left: calc((100% - 992px) / 2);
  margin-right: calc((100% - 992px) / 2);
}

@mixin margin-md{
  margin-left: calc((100% - 720px) / 2);
  margin-right: calc((100% - 720px) / 2);
}

@mixin margin-sm{
  margin-left: calc((100% - 540px) / 2);
  margin-right: calc((100% - 540px) / 2);
}

@mixin margin-xs{
  margin-left: 0;
  margin-right: 0;
}

@mixin slide-arrows {
  &:before {
    content: "";
    position: absolute;
    display: block;
    height: 212px;
    width: 50px;
    background-color: map_get($colors, arrow-bg);
    top: 50%;
    left: -32px;
    transform: translateY(-50%);
    background-image: url(../../images/left-arrow.svg);
    @include bg-img;
    background-size: 28px;
    background-position-x: 35%;
    z-index: 1;
    cursor: pointer;
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 212px;
    width: 50px;
    background-color: map_get($colors, arrow-bg);
    top: 50%;
    right: -32px;
    transform: translateY(-50%);
    background-image: url(../../images/right-arrow.svg);
    @include bg-img;
    background-size: 28px;
    background-position-x: 65%;
    z-index: 1;
    cursor: pointer;
  }
}

@mixin placeholder{
  .form__item::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.1s ease-in-out;}
  .form__item::-moz-placeholder                {opacity: 1; transition: opacity 0.1s ease-in-out;}
  .form__item:-moz-placeholder                 {opacity: 1; transition: opacity 0.1s ease-in-out;}
  .form__item:-ms-input-placeholder            {opacity: 1; transition: opacity 0.1s ease-in-out;}
  .form__item:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.1s ease-in-out;}
  .form__item:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.1s ease-in-out;}
  .form__item:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.1s ease-in-out;}
  .form__item:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.1s ease-in-out;}
}