@mixin bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin respond-to($breakpoint) {
  @if map-has-key($min-breakpoints, $breakpoint) {
    @media (min-width: map-get($min-breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($min-breakpoints)}.";
  }
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}