@mixin bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin max($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome and Opera */
}

@mixin margin-xl{
  margin-left: calc((100% - 1140px) / 2);
  margin-right: calc((100% - 1140px) / 2);
}

@mixin margin-l{
  margin-left: calc((100% - 992px) / 2);
  margin-right: calc((100% - 992px) / 2);
}

