.slider-container {
  position: relative;
  height: calc(100vh - 220px);

  &:before {
    content: "";
    position: absolute;
    display: block;
    height: 212px;
    width: 50px;
    background-color: map_get($colors, txt-white);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url(../../images/left-arrow.svg);
    @include bg-img;
    background-size: 28px;
    background-position-x: 35%;
    z-index: 1;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }
  &:after {
    content: "";
    position: absolute;
    display: block;
    height: 212px;
    width: 50px;
    background-color: map_get($colors, txt-white);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url(../../images/right-arrow.svg);
    @include bg-img;
    background-size: 28px;
    background-position-x: 65%;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
  }
}

.slider-container__item {
  background-image: url(../../images/bmw-bg.png);
  height: 100%;
  width: 100%;
  @include bg-img;
}

.slide-title {
  margin: 0;
  font-size: 52px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.title-wrapper {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin-left: calc((100% - 1140px) / 2);
  margin-right: calc((100% - 1140px) / 2);
  align-items: flex-start;
}

.slide-title__item {
  font-weight: 800;
  color: map_get($colors, txt-white);
  text-transform: uppercase;
  line-height: 60px;
  display: inline-block;
  background-color: map_get($colors, bg-gray);
  margin-bottom: 1px;
  padding: 10px 18px 9px 23px;
}

.title-wrapper__subtitle {
  color: map_get($colors, txt-white);
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: .72px;
  background-color: map_get($colors, bg-red);
  padding: 17px 17px 16px 20px;
  display: inline-block;
  margin-top: 23px;
  max-width: 505px;
  align-self: flex-start;
  margin-right: 0;
  text-transform: uppercase;
}
