.head-wrapper{
  display: flex;
  flex-direction: column;

}

.logo {
  margin: 0 auto;
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}

.logo__link {
  font-size: 46px;
  line-height: 46px;
  color: map_get($colors, txt-dark);
  margin: 55px 0 51px;
  display: inline-block;
  text-transform: uppercase;
}

.nav-container {
  @include margin-xl;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 68px;
}

.nav-bar__item {
  max-height: 24px;
  &:hover > .nav-btn__link:after {
    opacity: 1;
    transform: translateY(62px);
  }
}

.nav-btn .nav-btn__link--red:after {
  display: none;
}

.nav-btn__link {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: map_get($colors, txt-dark);
  position: relative;
  font-family: 'Raleway', sans-serif;
  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(69px);
    transition: transform .3s ease-in-out, opacity .5s ease-in-out;
    opacity: 0;
    background-color: map_get($colors, border-red);
    pointer-events: none;
  }
  &:hover:after {
    pointer-events: none;
  }
}

.nav-btn__link--red{
  border: 3px solid map_get($colors, border-red);
  padding: 13px 25px 12px;
}